<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<h1>Course Outcome Analysis</h1>
<%= form_tag(course_path, method: "get", class: "form-inline", remote: true) do %>
  <%= select_tag "course", options_from_collection_for_select(Course.all, "id", "title"), prompt: "Course", class: 'course_selected1' %>
  <%= select_tag "course_outcome", options_from_collection_for_select(CourseOutcome.all, "id", "code"), prompt: "Course Outcome", class: 'course_outcome_selected' %>
  <button id="target1">Submit</button>
<% end %>

<h1>Program Outcome Analysis</h1>
<%= form_tag(course_path, method: "get", class: "form-inline", remote: true) do %>
  <%= select_tag "course", options_from_collection_for_select(Course.all, "id", "title"), prompt: "Course", class: 'course_selected2' %>
  <%= select_tag "program_outcome", options_from_collection_for_select(ProgramOutcome.all, "id", "code"), prompt: "Program Outcome", class: 'program_outcome_selected' %>
  <button id="target2">Submit</button>
<% end %>

<h1>Program Specific Outcome Analysis</h1>
<%= form_tag(course_path, method: "get", class: "form-inline", remote: true) do %>
  <%= select_tag "course", options_from_collection_for_select(Course.all, "id", "title"), prompt: "Course", class: 'course_selected3' %>
  <%= select_tag "program_source_outcome", options_from_collection_for_select(ProgramSourceOutcome.all, "id", "code"), prompt: "ProgramS pecific Outcome", class: 'program_source_outcome_selected' %>
  <button id="target3">Submit</button>
<% end %>



<div id="curve_chart" style="width: 900px; height: 500px"></div>
<script type="text/javascript" charset="utf-8">
  $('#target1').click(function () {
      console.log("Clicked");
      var fetched_data = [];
      var course = $(".course_selected1 option:selected").val();
      var course_outcome = $(".course_outcome_selected option:selected").val();
      console.log(course, course_outcome);
      $.ajax({
          url: "/course",
          method: 'GET',
          data: { course: course, course_outcome : course_outcome},
          contentType: 'application/json; charset=utf-8',
          success: function (response) {
              console.log(response.data);
              fetched_data = response.data;
              $( "#curve_chart" ).empty();
              google.charts.load('current', {'packages':['corechart']});
              google.charts.setOnLoadCallback(drawChart);
              function drawChart() {
                  var data = google.visualization.arrayToDataTable(fetched_data);

                  var options = {
                      title: 'CO Attainment',
                      curveType: 'function',
                      legend: { position: 'bottom' }
                  };

                  var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                  chart.draw(data, options);
              }

          }
      });

  });
</script>

<script type="text/javascript" charset="utf-8">
    $('#target2').click(function () {
        console.log("Clicked");
        var fetched_data = [];
        var course = $(".course_selected2 option:selected").val();
        var program_outcome = $(".program_outcome_selected option:selected").val();
        console.log(course, program_outcome);
        $.ajax({
            url: "/program_outcome",
            method: 'GET',
            data: { course: course, program_outcome : program_outcome},
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                console.log(response.data);
                fetched_data = response.data;
                $( "#curve_chart" ).empty();
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = google.visualization.arrayToDataTable(fetched_data);

                    var options = {
                        title: 'PO Attainment',
                        curveType: 'function',
                        legend: { position: 'bottom' }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                    chart.draw(data, options);
                }

            }
        });

    });
</script>

<script type="text/javascript" charset="utf-8">
    $('#target3').click(function () {
        console.log("Clicked");
        var fetched_data = [];
        var course = $(".course_selected3 option:selected").val();
        var program_source_outcome = $(".program_source_outcome_selected option:selected").val();
        console.log(course, program_source_outcome);
        $.ajax({
            url: "/program_source_outcome",
            method: 'GET',
            data: { course: course, program_source_outcome : program_source_outcome},
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                console.log(response.data);
                fetched_data = response.data;
                $( "#curve_chart" ).empty();
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = google.visualization.arrayToDataTable(fetched_data);

                    var options = {
                        title: 'PSO Attainment',
                        curveType: 'function',
                        legend: { position: 'bottom' }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                    chart.draw(data, options);
                }

            }
        });

    });
</script>
